@media screen and (max-width: 1820px) and (min-width: 1366px){

/*---------------------------ШАПКА------------------------*/

.header_content-menuandcatalog {
  margin-left: 10px;
  margin-right: 10px;
}

.header_content-menuandcatalog-navmenu-list-item a {
  font-size: 0.875rem;
}

.header_content-menuandcatalog-catalog-list-item a {
  font-size: 0.875rem;
}

.header_content-contacts-rightpart-downpart a {
  font-size: 0.875rem;
}

.header_content-logo {
  width: 100px;
}

.header_content-logo > a:nth-child(1) > img:nth-child(1) {
  width: 100%;
}

.header_content-contacts {
  column-gap: 15px;
}

.header_content-contacts-rightpart-downpart a {
  margin-right: 10px;
}

.dropdown-content-phone > a {
  padding-right: 0px;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
}

.firstsec-content {
  padding-left: 15px;
  padding-right: 15px;
}

.firstsec-background_image {
  top: 126px;
  width: 55%;
}

.header_content-contacts-rightpart-downpart a {
  margin-left: 5px;
  margin-right: 2px;
}

.header_content-contacts {
  column-gap: 10px;
}

.dropdown-content-phone > a {
  column-gap: 4px;
}


/*---------------------------СЕКЦИЯ КАТАЛОГ------------------------*/

.catalogsec-content{
  padding-left: 15px;
  padding-right: 15px;
}

/*---------------------------СЕКЦИЯ О НАС------------------------*/

.aboutussec-content {
  grid-template-columns: 1fr 1fr;
}

.aboutussec-content-title p {
  font-size: 1.5rem;
}

.aboutussec-content-title p > br{
  display: none;
}

.aboutussec-content-leftpart-image:nth-child(1) {
  display: none;
}

.aboutussec-content {
  padding-left: 15px;
  justify-items: end;
}

.aboutussec-content-title > p:nth-child(3) {
  padding-bottom: 0px;
}

.aboutussec-content {
  padding-bottom: 48px;
}



/*---------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА------------------------*/

.advantages-content {
  padding-left: 15px;
  padding-right: 15px;
}

.h2_advantages {
  margin-top: 0;
}

.advantages-content h2 {
  margin-left: 0;
}

.advantages-content-list-item h3 {
  font-size: 1.25rem;
}

.advantages-content-list-item p {
  font-size: 1rem;
}

/*---------------------------ФУТЕР------------------------*/

.footer_content-uppart-leftimage {
  margin-right: 0;
}

.footer_content-uppart {
  justify-content: center;
  column-gap: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer_content-uppart-form {
  margin-right: 0;
}

.footer_content-downpart-title {
  padding-left: 30px;
  padding-right: 70px !important;
}


/*---------------------------МОДАЛКА------------------------*/

.modal__container-order {
  margin-left: 20px;
  margin-right: 20px;
}

.modal__content-order {
  padding-top: 52px;
  overflow-y: scroll;
}

.modal_form {
  margin-top: 60px;
}

.modal_content-container img {
  width: 55%;
}




}


@media screen and (max-width: 768px) and (min-width: 320px){

/*---------------------------ШАПКА------------------------*/




  .hamb {
      display: flex;
      align-items: center;
  }

  .hamb__field {
      cursor: pointer;
      z-index: 20;
  }

  .bar {
      display: flex;
      transition: 0.2s;
      padding-right: 20px;
  }

  .popup {
      position: fixed;
      top: 80px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.3s;
  }

  .popup.open {
      left: 0;
  }

  .popup .header__menu-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      overflow: auto;
      padding-left: 20px;
      background: rgba(217, 217, 217, 0.56);
  }

  .popup .header__menu-list > li {
      width: 100%;
      padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px dotted #616263;
  }

  .popup .header__menu-list > li > a {
      width: 100%;
      display: flex;
      justify-content: flex-start;
  }

    body.noscroll {
      overflow: hidden;
    }

    #popup > ul:nth-child(1) > div:nth-child(9) {
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
  }

  .popup .header__menu-list > li {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }





.header_content-menuandcatalog{
  display: none;
}


.header_content-contacts{
  display: none;
}

.header_content {
  justify-content: space-between;
}

.header_content-logo > a:nth-child(1) > img:nth-child(1) {
  width: 65%;
  padding-left: 20px;
}




/*---------------------------ПЕРВАЯ СЕКЦИЯ------------------------*/



.firstsec-content h1 {
  font-size: 2rem;
  padding-top: 60px;
}


.firstsec-content {
  padding-left: 20px;
  padding-right: 20px;
}

.firstsec-content p {
  font-size: 1.5rem;
}

.firstsec-background_image {
  bottom: 13px;
  right: 20px;
  width: 58vw;
  top: auto;
}


/*---------------------------СЕКЦИЯ КАТАЛОГ------------------------*/

.catalogsec h2 {
  padding-left: 20px;
}

.catalogsec-content-grid {
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.catalogsec-content-grid-leftpart-list-item-content {
  position: relative;
}

.catalogsec-content-grid-leftpart-list-item-content-backgrimg {
  position: absolute;
  right: 0;
  left: auto;
  top: 0px;
  max-width: 132px;
}

.catalogsec-content-grid-leftpart-list-item > .catalogsec-content-grid-leftpart-list-item-content {
  max-width: 82vw !important;
}

.catalogsec-content-grid-leftpart-list-item-content-backgrimg {
  top: -30px;
  max-width: 190px;
}


.catalogsec-content-grid-leftpart-list-item:nth-child(2) > .catalogsec-content-grid-leftpart-list-item-content > .catalogsec-content-grid-leftpart-list-item-content-backgrimg {
  position: absolute;
    right: -21px;
    top: -17px;
    left: auto;
    max-width: 215px;
}

.catalogsec-content-grid-rightpart-list-item-content-backgrimg {
  max-width: 165px;
  top: auto !important;
  left: auto !important;
  right: 0;
}

.catalogsec-content-grid-rightpart-list-item:nth-child(2) > .catalogsec-content-grid-rightpart-list-item-content > .catalogsec-content-grid-rightpart-list-item-content-backgrimg {
  left: auto;
}

.catalogsec-content-grid-leftpart-list-item-content {
  padding-left: 30px;
}

.catalogsec-content-grid-rightpart-list-item-content {
  padding-left: 30px;
  max-width: 82vw !important;
}

.catalogsec-content-grid-rightpart-list-item-content p {
  font-size: 1.25rem;
}

.catalogsec-content-grid-leftpart-list-item-content p {
  font-size: 1.25rem;
}




/*---------------------------СЕКЦИЯ О НАС------------------------*/

.aboutussec-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.aboutussec-content-leftpart-image:nth-child(1) {
  display: none;
}

.aboutussec-content-title p {
  font-size: 1.25rem;
}

.aboutussec-content-title > p:nth-child(3) {
  padding-top: 30px;
}

.aboutussec-content-title > p > br {
  display: none;
}

.aboutussec-content-title > p:nth-child(3) {
  padding-bottom: 30px;
}

.aboutussec-content-leftpart-image img{
  max-width: 92vw;
}





.advantages-content h2 {
  margin-left: 20px;
}

.advantages-content-list {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.advantages-content-list-item {
  margin-bottom: 0;
}

.advantages-content-list-item h3 {
  font-size: 1.5rem;
}

.advantages-content-list-item p {
  font-size: 1rem;
}

.advantages-content-list {
  row-gap: 20px;
  margin-bottom: 30px;
}



/*---------------------------ФУТЕР------------------------*/


.footer_content-uppart-leftimage {
  margin-right: 0;
  padding-top: 0;
}

.footer_content-uppart {
  flex-direction: column;
}

.footer_content-uppart-form {
  max-width: 86.5vw;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.form_order-inputs-input {
  max-width: 30vw;
}

.form_order h3 {
  font-size: 1.5rem;
}

.form_order > p:nth-child(2) {
  font-size: 1.25rem;
}

.form_order-btn {
  max-width: 49vw;
  white-space: nowrap;
}

.form_order-inputs {
  column-gap: 10px;
}

.footer_content-uppart-leftimage {
  display: flex;
  justify-content: center;
}

.footer_content-uppart {
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer_content-uppart-leftimage > img:nth-child(1) {
  width: 60%;
}


.footer_content-downpart-title {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding-left: 20px;
}

.footer_content-downpart-leftimage {
  display: none;
}

.footer_content-downpart {
  background-image: none;
}

.footer_content-downpart-fastlinks-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 100%;
}

.footer_content-downpart-ourcompany-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
   width: 100%;
}

.footer_content-downpart-fastlinks {
  width: 100%;
}

.footer_content-downpart-ourcompany {
  width: 100%;
}

.footer_content-downpart-contacts {
  width: 100%;
}

.footer_content-downpart-contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



/*---------------------------МОДАЛКА------------------------*/

.modal__container-order {
  margin-left: 20px;
  margin-right: 20px;
}

.modal_content-container img {
  display: none;
}

.modal_form input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  margin-bottom: 30px;
}

.modal_form {
  margin-top: 30px;
}

.modal__content-order-title {
  font-size: 1rem;
}

.modal__content-order h1 {
  font-size: 2.125rem;
}

.modal_content-container {
  display: flex;
}

.modal_form button {
  margin-top: 0px;
  font-size: 1.5rem;
}

.modal__content-order {
  padding-left: 20px;
  padding-right: 20px;
}

.modal_content-container > div:nth-child(1) {
  display: none;
}

.modal_form input {
  padding-left: 20px;
}

.modal_form button {
  padding-top: 15px;
  padding-bottom: 15px;
}


}





@media screen and (max-width: 576px) and (min-width: 320px){

/*---------------------------ШАПКА------------------------*/

.firstsec-content h1 {
  font-size: 1.22rem;
}

.firstsec-content p {
  font-size: 1rem;
}

.firstsec-content h1 {
  line-height: 2.563rem;
}


/*---------------------------СЕКЦИЯ КАТАЛОГ-----------------------*/

.catalogsec-content-grid-leftpart-list-item-content-backgrimg {
  display: none;
}

.catalogsec-content-grid-rightpart-list-item-content-backgrimg {
  display: none;
}

.catalogsec h2 {
  padding-top: 30px;
  font-size: 2.125rem;
}


/*---------------------------СЕКЦИЯ О НАС-----------------------*/

.aboutussec-content h2 {
  font-size: 2.125rem;
}

.aboutussec-content-title p {
  margin-left: 0px;
}

.aboutussec-content-title p {
  font-size: 1rem;
}

.aboutussec-content-leftpart-image img {
  max-width: 87vw;
}

.advantages-content h2 {
  font-size: 1.75rem;
}

.h2_advantages {
  margin-top: 30px;
}

.advantages-content-list {
  margin-top: 30px;
}

.advantages-content-list-item {
  padding-left: 15px;
}

.advantages-content-list-item h3 {
  font-size: 1.25rem;
}

.advantages-content-list-item p {
  font-size: 0.875rem;
}




/*---------------------------ФУТЕР-----------------------*/


.footer_content-downpart-ourcompany-container {
  display: flex;
  flex-direction: column;
}

.footer_content-downpart-fastlinks-container {
  display: flex;
  flex-direction: column;
}

.footer_content-downpart-contacts-container {
  display: flex;
  flex-direction: column;
}

.form_order-inputs{
  display: none !important;
}

.form_order-inputs-mobile{
  display: flex !important;
}

.form_order-inputs-mobile {
  flex-direction: column;
  row-gap: 10px;
}

.form_order-inputs-input {
  max-width: 100vw;
}

.form_order h3 {
  font-size: 1.25rem;
}

.form_order > p:nth-child(2) {
  font-size: 0.9rem;
}

.form_order-inputs {
  margin-top: 20px;
}

.form_order-btn {
  margin-top: 25px;
}

.form_subscribe input {
  padding-left: 10px;
  max-width: 63vw;
}

.footer_content-uppart-form {
  display: flex;
  justify-content: center;
}


/*---------------------------МОДАЛКА------------------------*/

.modal__content-order h1 {
  font-size: 1.5rem;
}

.modal__content-order-title {
  text-align: center;
}



}



